#buttonContainer {
    display: flex;
    width: 360px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.buttons {
    width: 90px;
    height: 90px; 
    font-size: 30px;
    color: black;
    text-align: center;
    background-color: grey;
    border: solid black 1px;
}

.operator {
    font-size: 45px;
    text-align: center;
}

.equal {
    background-color: rgb(41, 39, 39);
    color: orange;
    text-align: center;
}

.sign {
    background-color: orange;
    text-align: center;
}

.display {
    display: flex;
    width: 360px;
    height: 120px;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 39, 39);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#screen {
    background-color: rgb(206, 202, 202);
    width: 320px;
    height: 80px;
    border: solid 1px black;
    font-size: 72px;
    text-align: start;
    padding: 10px;
    color: black;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border: solid black 1px;
}

#clear {
    width: 360px;
    height: 80px;
    background-color: rgb(151, 39, 39);
    font-size: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: solid black 1px;
    color: black;
    text-align: center;
}

.clearDiv {
    width: 360px;
    height: 80px;
    margin: auto;
    border-radius: 20px;
}

.highlight {
    background-color:rgb(156, 102, 0); /* You can customize the color */
    color: white; /* Text color */
    border: 2px solid #333; /* Optional border */   
}